*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Android Studio
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
.gradle/
build/

# IntelliJ
*.iml
.idea/

# Gradle
.gradle
/build/

# Local configuration file (sdk path, etc)
local.properties

# Log Files
*.log

# Android Profiling
*.hprof
